<title>Галерея</title>
<style>

    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

    #wrapper {
        text-align: center;
    }

    button {
        font: 14px/1 'Open Sans', sans-serif;
        display: inline-block;
        color: #6496c8;
        background: rgba(0, 0, 0, 0);
        border: solid 5px #6496c8;
        margin: 20px 10px 0 0;
        padding: 15px 45px;
        font-size: 20px;
        line-height: 1.8;
        appearance: none;
        box-shadow: none;
        border-radius: 0;
    }

    button:focus {
        outline: none
    }

    button:hover {
        border-color: #346392;
        color: #346392;
    }

    button:active {
        border-color: #27496d;
        color: #27496d;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font: 14px/1 'Open Sans', sans-serif;
        color: #555;
        background: #e5e5e5;
    }

    .gallery {
        width: 640px;
        margin: 0 auto;
        padding: 5px;
        background: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    }

    .gallery > div {
        position: relative;
        float: left;
        padding: 5px;

    }

    .gallery > div > img {
        display: block;
        width: 200px;
        height: auto;
        transition: .1s transform;
        transform: translateZ(0); /* hack */
    }

    .gallery > div:hover {
        z-index: 1;
    }

    .gallery > div:hover > img {
        transform: scale(3, 3);
        transition: .3s transform;
    }

    .cf:before, .cf:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .cf:after {
        clear: both;
    }

    h1 {
        padding-top: 40px;
        margin: 40px 0;
        font-size: 30px;
        font-weight: 300;
        text-align: center;
    }

    button {
        align-self: center;
    }
</style>
<div id="wrapper">
    <h1>{% if name %}
        {{ name }}
    {% else %}
        Объект не найден
    {% endif %}
    </h1>
    {% if images|length > 1 %}
        <style>
            /* jssor slider loading skin spin css */
            .jssorl-009-spin img {
                animation-name: jssorl-009-spin;
                animation-duration: 1.6s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

            @keyframes jssorl-009-spin {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }

            .jssora093 {
                display: block;
                position: absolute;
                cursor: pointer;
            }

            .jssora093 .c {
                fill: none;
                stroke: #fff;
                stroke-width: 400;
                stroke-miterlimit: 10;
            }

            .jssora093 .a {
                fill: none;
                stroke: #fff;
                stroke-width: 400;
                stroke-miterlimit: 10;
            }

            .jssora093:hover {
                opacity: .8;
            }

            .jssora093.jssora093dn {
                opacity: .6;
            }

            .jssora093.jssora093ds {
                opacity: .3;
                pointer-events: none;
            }

            .jssort101 .p {
                position: absolute;
                top: 0;
                left: 0;
                box-sizing: border-box;
                background: #000;
            }

            .jssort101 .p .cv {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 2px solid #000;
                box-sizing: border-box;
                z-index: 1;
            }

            .jssort101 .a {
                fill: none;
                stroke: #fff;
                stroke-width: 400;
                stroke-miterlimit: 10;
                visibility: hidden;
            }

            .jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {
                border: none;
                border-color: transparent;
            }

            .jssort101 .p:hover {
                padding: 2px;
            }

            .jssort101 .p:hover .cv {
                background-color: rgba(0, 0, 0, 6);
                opacity: .35;
            }

            .jssort101 .p:hover.pdn {
                padding: 0;
            }

            .jssort101 .p:hover.pdn .cv {
                border: 2px solid #fff;
                background: none;
                opacity: .35;
            }

            .jssort101 .pav .cv {
                border-color: #fff;
                opacity: .35;
            }

            .jssort101 .pav .a, .jssort101 .p:hover .a {
                visibility: visible;
            }

            .jssort101 .t {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: none;
                opacity: .6;
            }

            .jssort101 .pav .t, .jssort101 .p:hover .t {
                opacity: 1;
            }
        </style>
        <div id="jssor_1"
             style="position:relative;margin:0 auto;top:0px;left:0px;width:960px;height:480px;overflow:hidden;visibility:hidden;background-color:#24262e;">
            <!-- Loading Screen -->
            <div data-u="loading" class="jssorl-009-spin"
                 style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;"
                     src="{{ url_for('static',filename='images/spin.svg') }}"/>
            </div>
            <div data-u="slides"
                 style="cursor:default;position:relative;top:0px;left:240px;width:720px;height:480px;overflow:hidden;">
                {% for im in images %}
                    <div>
                        <img class="fullsize-img" data-u="image" src="{{ im }}"/>
                        <img data-u="thumb" width="99px" height="66px" src="{{ im }}" alt=""/>
                    </div>
                {% endfor %}
            </div>
            <!-- Thumbnail Navigator -->
            <div data-u="thumbnavigator" class="jssort101"
                 style="position:absolute;left:0px;top:0px;width:240px;height:480px;background-color:#000;"
                 data-autocenter="2"
                 data-scale-left="0.75">
                <div data-u="slides">
                    <div data-u="prototype" class="p" style="width:99px;height:66px;">
                        <div data-u="thumbnailtemplate" class="t"></div>
                        <svg viewbox="0 0 16000 16000" class="cv">
                            <circle class="a" cx="8000" cy="8000" r="3238.1"></circle>
                            <line class="a" x1="6190.5" y1="8000" x2="9809.5" y2="8000"></line>
                            <line class="a" x1="8000" y1="9809.5" x2="8000" y2="6190.5"></line>
                        </svg>
                    </div>
                </div>
            </div>
            <!-- Arrow Navigator -->
            <div data-u="arrowleft" class="jssora093" style="width:50px;height:50px;top:0px;left:270px;"
                 data-autocenter="2">
                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <circle class="c" cx="8000" cy="8000" r="5920"></circle>
                    <polyline class="a" points="7777.8,6080 5857.8,8000 7777.8,9920 "></polyline>
                    <line class="a" x1="10142.2" y1="8000" x2="5857.8" y2="8000"></line>
                </svg>
            </div>
            <div data-u="arrowright" class="jssora093" style="width:50px;height:50px;top:0px;right:30px;"
                 data-autocenter="2">
                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <circle class="c" cx="8000" cy="8000" r="5920"></circle>
                    <polyline class="a" points="8222.2,6080 10142.2,8000 8222.2,9920 "></polyline>
                    <line class="a" x1="5857.8" y1="8000" x2="10142.2" y2="8000"></line>
                </svg>
            </div>
        </div>
        <button onclick="save()">Сохранить</button>
        <script src="{{ url_for('static',filename='js/jssor.slider-26.3.0.min.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
            jssor_1_slider_init = function () {

                var jssor_1_SlideshowTransitions = [
                    {
                        $Duration: 1200,
                        $Zoom: 1,
                        $Easing: {$Zoom: $Jease$.$InCubic, $Opacity: $Jease$.$OutQuad},
                        $Opacity: 2
                    },
                    {
                        $Duration: 1000,
                        $Zoom: 11,
                        $SlideOut: true,
                        $Easing: {$Zoom: $Jease$.$InExpo, $Opacity: $Jease$.$Linear},
                        $Opacity: 2
                    },
                    {
                        $Duration: 1200,
                        $Zoom: 1,
                        $Rotate: 1,
                        $During: {$Zoom: [0.2, 0.8], $Rotate: [0.2, 0.8]},
                        $Easing: {$Zoom: $Jease$.$Swing, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$Swing},
                        $Opacity: 2,
                        $Round: {$Rotate: 0.5}
                    },
                    {
                        $Duration: 1000,
                        $Zoom: 11,
                        $Rotate: 1,
                        $SlideOut: true,
                        $Easing: {$Zoom: $Jease$.$InQuint, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$InQuint},
                        $Opacity: 2,
                        $Round: {$Rotate: 0.8}
                    },
                    {
                        $Duration: 1200,
                        x: 0.5,
                        $Cols: 2,
                        $Zoom: 1,
                        $Assembly: 2049,
                        $ChessMode: {$Column: 15},
                        $Easing: {$Left: $Jease$.$InCubic, $Zoom: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                        $Opacity: 2
                    },
                    {
                        $Duration: 1200,
                        x: 4,
                        $Cols: 2,
                        $Zoom: 11,
                        $SlideOut: true,
                        $Assembly: 2049,
                        $ChessMode: {$Column: 15},
                        $Easing: {$Left: $Jease$.$InExpo, $Zoom: $Jease$.$InExpo, $Opacity: $Jease$.$Linear},
                        $Opacity: 2
                    },
                    {
                        $Duration: 1200,
                        x: 0.6,
                        $Zoom: 1,
                        $Rotate: 1,
                        $During: {$Left: [0.2, 0.8], $Zoom: [0.2, 0.8], $Rotate: [0.2, 0.8]},
                        $Opacity: 2,
                        $Round: {$Rotate: 0.5}
                    },
                    {
                        $Duration: 1000,
                        x: -4,
                        $Zoom: 11,
                        $Rotate: 1,
                        $SlideOut: true,
                        $Easing: {
                            $Left: $Jease$.$InQuint,
                            $Zoom: $Jease$.$InQuart,
                            $Opacity: $Jease$.$Linear,
                            $Rotate: $Jease$.$InQuint
                        },
                        $Opacity: 2,
                        $Round: {$Rotate: 0.8}
                    },
                    {
                        $Duration: 1200,
                        x: -0.6,
                        $Zoom: 1,
                        $Rotate: 1,
                        $During: {$Left: [0.2, 0.8], $Zoom: [0.2, 0.8], $Rotate: [0.2, 0.8]},
                        $Opacity: 2,
                        $Round: {$Rotate: 0.5}
                    },
                    {
                        $Duration: 1000,
                        x: 4,
                        $Zoom: 11,
                        $Rotate: 1,
                        $SlideOut: true,
                        $Easing: {
                            $Left: $Jease$.$InQuint,
                            $Zoom: $Jease$.$InQuart,
                            $Opacity: $Jease$.$Linear,
                            $Rotate: $Jease$.$InQuint
                        },
                        $Opacity: 2,
                        $Round: {$Rotate: 0.8}
                    },
                    {
                        $Duration: 1200,
                        x: 0.5,
                        y: 0.3,
                        $Cols: 2,
                        $Zoom: 1,
                        $Rotate: 1,
                        $Assembly: 2049,
                        $ChessMode: {$Column: 15},
                        $Easing: {
                            $Left: $Jease$.$InCubic,
                            $Top: $Jease$.$InCubic,
                            $Zoom: $Jease$.$InCubic,
                            $Opacity: $Jease$.$OutQuad,
                            $Rotate: $Jease$.$InCubic
                        },
                        $Opacity: 2,
                        $Round: {$Rotate: 0.7}
                    },
                    {
                        $Duration: 1000,
                        x: 0.5,
                        y: 0.3,
                        $Cols: 2,
                        $Zoom: 1,
                        $Rotate: 1,
                        $SlideOut: true,
                        $Assembly: 2049,
                        $ChessMode: {$Column: 15},
                        $Easing: {
                            $Left: $Jease$.$InExpo,
                            $Top: $Jease$.$InExpo,
                            $Zoom: $Jease$.$InExpo,
                            $Opacity: $Jease$.$Linear,
                            $Rotate: $Jease$.$InExpo
                        },
                        $Opacity: 2,
                        $Round: {$Rotate: 0.7}
                    },
                    {
                        $Duration: 1200,
                        x: -4,
                        y: 2,
                        $Rows: 2,
                        $Zoom: 11,
                        $Rotate: 1,
                        $Assembly: 2049,
                        $ChessMode: {$Row: 28},
                        $Easing: {
                            $Left: $Jease$.$InCubic,
                            $Top: $Jease$.$InCubic,
                            $Zoom: $Jease$.$InCubic,
                            $Opacity: $Jease$.$OutQuad,
                            $Rotate: $Jease$.$InCubic
                        },
                        $Opacity: 2,
                        $Round: {$Rotate: 0.7}
                    },
                    {
                        $Duration: 1200,
                        x: 1,
                        y: 2,
                        $Cols: 2,
                        $Zoom: 11,
                        $Rotate: 1,
                        $Assembly: 2049,
                        $ChessMode: {$Column: 19},
                        $Easing: {
                            $Left: $Jease$.$InCubic,
                            $Top: $Jease$.$InCubic,
                            $Zoom: $Jease$.$InCubic,
                            $Opacity: $Jease$.$OutQuad,
                            $Rotate: $Jease$.$InCubic
                        },
                        $Opacity: 2,
                        $Round: {$Rotate: 0.8}
                    }
                ];

                var jssor_1_options = {
                    $AutoPlay: 1,
                    $Align: 0,
                    $SlideshowOptions: {
                        $Class: $JssorSlideshowRunner$,
                        $Transitions: jssor_1_SlideshowTransitions,
                        $TransitionsOrder: 1
                    },
                    $ArrowNavigatorOptions: {
                        $Class: $JssorArrowNavigator$
                    },
                    $ThumbnailNavigatorOptions: {
                        $Class: $JssorThumbnailNavigator$,
                        $Rows: 2,
                        $Cols: 6,
                        $SpacingX: 14,
                        $SpacingY: 12,
                        $Orientation: 2,
                        $Align: 156
                    }
                };

                var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

                /*#region responsive code begin*/

                var MAX_WIDTH = 960;

                function ScaleSlider() {
                    var containerElement = jssor_1_slider.$Elmt.parentNode;
                    var containerWidth = containerElement.clientWidth;

                    if (containerWidth) {

                        var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                        jssor_1_slider.$ScaleWidth(expectedWidth);
                    }
                    else {
                        window.setTimeout(ScaleSlider, 30);
                    }
                }

                ScaleSlider();

                $Jssor$.$AddEvent(window, "load", ScaleSlider);
                $Jssor$.$AddEvent(window, "resize", ScaleSlider);
                $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
                /*#endregion responsive code end*/
            };
        </script>
        <script type="text/javascript">jssor_1_slider_init();</script>

    {% else %}
        <h1>Изображения не найдены</h1>
    {% endif %}

</div>
<script src="{{ url_for('static',filename='js/FileSaver.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jszip.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jszip-utils.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/saver.js') }}"></script>
